 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/professional-doctor-giving-a-prescription-to-a-pat-2023-11-27-05-16-21-utc.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  margin: 269px 0 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 335px;
}

.u-section-2 .u-text-1 {
  margin: 41px 21px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 400;
  margin: 54px auto 0;
  padding: 10px 48px 10px 46px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px auto 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 972px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 628px;
  margin: 0 0 0 591px;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 628px;
  margin: -628px 557px 0 0;
}

.u-section-3 .u-custom-html-3 {
  height: auto;
  min-height: 29px;
  width: 1098px;
  margin: 40px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 40px 109px 0;
}

.u-section-3 .u-text-2 {
  margin: 16px 60px 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 391px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 357px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 171px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 137px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-3 {
    width: 340px;
  }
}

.u-block-e8cd-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e8cd-56:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-56:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #293332 !important;
}

.u-block-e8cd-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e8cd-62:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-62:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #293332 !important;
}

.u-block-e8cd-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e8cd-68:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-68:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #293332 !important;
}

.u-block-e8cd-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e8cd-74:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-74:not([data-block-selected]):not([data-cell-selected]).u-block-e8cd-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #293332 !important;
}

.u-block-e8cd-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e8cd-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e8cd-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e8cd-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-e8cd-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e8cd-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-e8cd-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e8cd-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-e8cd-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-e8cd-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e8cd-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e8cd-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e8cd-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 451px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 100%;
  margin: 1px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-4 .u-text-1 {
  margin: 26px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 450px;
  background-image: url("images/CompleteBloodCount-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-4 .u-image-1 {
    min-height: 458px;
    background-position: 28.32% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 527px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-4 .u-image-1 {
    min-height: 332px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 452px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 1px 0;
}

.u-section-5 .u-image-1 {
  min-height: 450px;
  background-image: url("images/LiverFunctionTest-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px 0 32px;
}

.u-section-5 .u-text-1 {
  margin: 42px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 23px 0 0 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-5 .u-image-1 {
    min-height: 395px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-5 .u-image-1 {
    min-height: 303px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-5 .u-image-1 {
    min-height: 455px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-5 .u-image-1 {
    min-height: 286px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 450px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-6 .u-text-1 {
  margin: 29px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 30px 8px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 450px;
  background-image: url("images/LipidPanel-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 900px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 207px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 487px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 487px;
  background-image: url("images/VitaminTest-min.jpg");
  background-position: 50% 77.04%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px 0 31px;
}

.u-section-7 .u-text-1 {
  margin: 42px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-7 .u-image-1 {
    min-height: 402px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-7 .u-image-1 {
    min-height: 308px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    min-height: 462px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 291px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 450px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 18px 34px 26px;
}

.u-section-8 .u-text-1 {
  margin: 35px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 27px 29px 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 450px;
  background-image: url("images/DiabetesScreening-min.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 900px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 419px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 447px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-9 .u-image-1 {
  min-height: 450px;
  background-image: url("images/Thyroidfunctiontests-min.jpg");
  background-position: 60.26% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-9 .u-text-1 {
  margin: 49px auto 0 14px;
}

.u-section-9 .u-text-2 {
  margin: 28px 0 0 13px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-9 .u-image-1 {
    min-height: 900px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 230px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 452px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 100%;
  margin: 1px 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-10 .u-text-1 {
  margin: 58px auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 35px 6px 0 0;
}

.u-section-10 .u-image-1 {
  min-height: 450px;
  background-image: url("images/HepatitisTest-min.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 408px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    min-height: 900px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 396px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 452px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 100%;
  margin: 1px 0;
}

.u-section-11 .u-image-1 {
  min-height: 450px;
  background-image: url("images/CoagulationTests-min.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 25px 30px 20px;
}

.u-section-11 .u-text-1 {
  margin: 65px auto 0 0;
}

.u-section-11 .u-text-2 {
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-11 .u-image-1 {
    min-height: 900px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 281px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 455px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 100%;
  margin: 3px 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-12 .u-text-1 {
  margin: 80px auto 0 0;
}

.u-section-12 .u-text-2 {
  margin: 33px 0 0;
}

.u-section-12 .u-image-1 {
  min-height: 450px;
  background-image: url("images/KidneyTest-min.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-1 {
    min-height: 900px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 281px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 452px;
}

.u-section-13 .u-layout-wrap-1 {
  width: 100%;
  margin: 1px 0;
}

.u-section-13 .u-image-1 {
  min-height: 450px;
  background-image: url("images/InflammationMarkerTest-min.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 13px;
}

.u-section-13 .u-text-1 {
  margin: 62px auto 0 11px;
}

.u-section-13 .u-text-2 {
  margin: 32px 0 0 11px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-13 .u-image-1 {
    min-height: 900px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 281px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 996px;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-14 .u-text-2 {
  font-family: Poppins;
  margin: 17px 33px 0;
}

.u-section-14 .u-layout-wrap-1 {
  margin: 29px 0 40px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 779px;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-14 .u-image-1 {
  height: 214px;
  margin: 0 14px;
}

.u-section-14 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-14 .u-text-4 {
  line-height: 1.8;
  margin: 19px 0 0;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 779px;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 10px 55px;
}

.u-section-14 .u-image-2 {
  height: 214px;
  margin: 5px 20px 0;
}

.u-section-14 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 33px 0;
}

.u-section-14 .u-text-6 {
  line-height: 1.8;
  margin: 11px 0 0;
}

.u-section-14 .u-layout-cell-3 {
  min-height: 779px;
}

.u-section-14 .u-container-layout-3 {
  padding: 23px 8px 23px 12px;
}

.u-section-14 .u-image-3 {
  height: 214px;
  object-position: 50% 7.89%;
  margin: 0 23px;
}

.u-section-14 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-14 .u-text-8 {
  line-height: 1.8;
  margin: 18px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 2320px;
  }

  .u-section-14 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-14 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-14 .u-image-2 {
    height: 170px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-text-5 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 642px;
  }

  .u-section-14 .u-image-3 {
    height: 174px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-14 .u-image-2 {
    height: 201px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-14 .u-image-3 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-14 .u-text-2 {
    font-size: 1.27778rem;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-image-2 {
    height: 348px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-image-3 {
    height: 424px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-14 .u-image-3 {
    height: 261px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 442px;
}

.u-section-15 .u-custom-html-1 {
  margin-bottom: 17px;
  height: auto;
  min-height: 408px;
  margin-top: 17px;
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 225px;
}

.u-section-16 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 34px 2px 0;
}

.u-section-16 .u-text-2 {
  margin: 19px 1px 34px;
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 794px;
}

.u-section-17 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 15px 309px 0 242px;
}

.u-section-17 .u-text-2 {
  margin: 19px auto 0 149px;
}

.u-section-17 .u-list-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-17 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 290px;
  grid-gap: 0px;
}

.u-section-17 .u-list-item-1 {
  background-image: none;
}

.u-section-17 .u-container-layout-1 {
  padding: 0 60px 67px;
}

.u-section-17 .u-text-3 {
  font-weight: 700;
  margin: 56px auto 0;
}

.u-section-17 .u-text-4 {
  margin: 47px 0 0;
}

.u-section-17 .u-list-item-2 {
  background-image: none;
}

.u-section-17 .u-container-layout-2 {
  padding: 0 60px 67px;
}

.u-section-17 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 56px auto 0;
}

.u-section-17 .u-text-6 {
  margin: 47px 0 0;
}

.u-section-17 .u-list-2 {
  margin-top: 19px;
  margin-bottom: 15px;
}

.u-section-17 .u-repeater-2 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 321px;
  grid-gap: 0px;
}

.u-section-17 .u-list-item-3 {
  background-image: none;
}

.u-section-17 .u-container-layout-3 {
  padding: 0 60px 97px;
}

.u-section-17 .u-text-7 {
  font-weight: 700;
  margin: 56px auto 0;
}

.u-section-17 .u-text-8 {
  margin: 47px 0 0;
}

.u-section-17 .u-list-item-4 {
  background-image: none;
}

.u-section-17 .u-container-layout-4 {
  padding: 0 60px 97px;
}

.u-section-17 .u-text-9 {
  font-weight: 700;
  margin: 56px auto 0;
}

.u-section-17 .u-text-10 {
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-text-1 {
    margin-right: 209px;
    margin-left: 142px;
  }

  .u-section-17 .u-repeater-1 {
    min-height: 239px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-17 .u-repeater-2 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-text-1 {
    margin-right: 99px;
    margin-left: 32px;
  }

  .u-section-17 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-17 .u-container-layout-1 {
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-17 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-17 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-17 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 711px;
}

.u-section-18 .u-text-1 {
  font-weight: 700;
  width: 834px;
  margin: 17px auto 0;
}

.u-section-18 .u-custom-html-1 {
  height: auto;
  min-height: 612px;
  margin: 18px 770px 0 0;
}

.u-section-18 .u-custom-html-2 {
  height: auto;
  min-height: 612px;
  margin: -609px 382px 0 376px;
}

.u-section-18 .u-custom-html-3 {
  height: auto;
  min-height: 612px;
  margin: -610px 15px 6px 767px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-custom-html-1 {
    margin-right: 570px;
  }

  .u-section-18 .u-custom-html-2 {
    margin-right: 282px;
    margin-left: 276px;
  }

  .u-section-18 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-text-1 {
    width: 720px;
  }

  .u-section-18 .u-custom-html-1 {
    margin-right: 350px;
  }

  .u-section-18 .u-custom-html-2 {
    margin-right: 172px;
    margin-left: 166px;
  }

  .u-section-18 .u-custom-html-3 {
    margin-left: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-text-1 {
    width: 540px;
  }

  .u-section-18 .u-custom-html-1 {
    margin-right: 170px;
  }

  .u-section-18 .u-custom-html-2 {
    margin-right: 82px;
    margin-left: 76px;
  }

  .u-section-18 .u-custom-html-3 {
    margin-left: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-text-1 {
    width: 340px;
  }

  .u-section-18 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-18 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-18 .u-custom-html-3 {
    margin-left: 0;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 635px;
}

.u-section-19 .u-custom-html-1 {
  height: auto;
  min-height: 612px;
  margin: 9px 10px 0 765px;
}

.u-section-19 .u-custom-html-2 {
  height: auto;
  min-height: 608px;
  margin: -618px 398px 0 379px;
}

.u-section-19 .u-custom-html-3 {
  height: auto;
  min-height: 612px;
  margin: -608px 761px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 575px;
  }

  .u-section-19 .u-custom-html-2 {
    margin-right: 298px;
    margin-left: 279px;
    width: 363px;
  }

  .u-section-19 .u-custom-html-3 {
    margin-right: 561px;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-custom-html-1 {
    margin-left: 355px;
  }

  .u-section-19 .u-custom-html-2 {
    margin-right: 188px;
    margin-left: 169px;
  }

  .u-section-19 .u-custom-html-3 {
    margin-right: 341px;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-custom-html-1 {
    margin-left: 175px;
  }

  .u-section-19 .u-custom-html-2 {
    margin-right: 98px;
    margin-left: 79px;
  }

  .u-section-19 .u-custom-html-3 {
    margin-right: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-19 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
    width: 340px;
  }

  .u-section-19 .u-custom-html-3 {
    margin-right: 0;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 1281px;
}

.u-section-20 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-20 .u-text-2 {
  width: 869px;
  margin: 17px auto 0;
}

.u-section-20 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-20 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-20 .u-container-layout-1 {
  padding: 8px 10px;
}

.u-section-20 .u-text-3 {
  font-size: 1.875rem;
  margin: 3px auto 0;
}

.u-section-20 .u-text-4 {
  margin: 5px 35px 0 61px;
}

.u-section-20 .u-custom-html-1 {
  height: auto;
  min-height: 408px;
  margin: 7px 0 0;
}

.u-section-20 .u-layout-cell-2 {
  min-height: 516px;
  background-image: none;
}

.u-section-20 .u-container-layout-2 {
  padding: 3px 7px;
}

.u-section-20 .u-text-5 {
  font-size: 1.875rem;
  margin: 12px auto 0 56px;
}

.u-section-20 .u-text-6 {
  width: 309px;
  margin: 0 auto;
}

.u-section-20 .u-custom-html-2 {
  height: auto;
  min-height: 408px;
  margin: 10px 6px 0 0;
}

.u-section-20 .u-layout-wrap-2 {
  margin-top: 31px;
  margin-bottom: 35px;
}

.u-section-20 .u-layout-cell-3 {
  min-height: 545px;
}

.u-section-20 .u-container-layout-3 {
  padding: 20px 30px 3px;
}

.u-section-20 .u-text-7 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-20 .u-text-8 {
  margin: 3px 40px 0 28px;
}

.u-section-20 .u-text-9 {
  margin: 1px 29px 0 39px;
}

.u-section-20 .u-text-10 {
  margin: 5px 40px 0 28px;
}

.u-section-20 .u-layout-cell-4 {
  min-height: 545px;
}

.u-section-20 .u-container-layout-4 {
  padding: 19px 6px 12px;
}

.u-section-20 .u-text-11 {
  font-size: 1.875rem;
  margin: 13px 46px 0 64px;
}

.u-section-20 .u-text-12 {
  margin: 12px 56px 0 74px;
}

.u-section-20 .u-custom-html-3 {
  height: auto;
  min-height: 408px;
  width: 558px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-20 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-20 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-20 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-20 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-20 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-20 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-20 .u-layout-cell-3 {
    min-height: 449px;
  }

  .u-section-20 .u-text-7 {
    margin-top: -1116px;
    margin-left: 326px;
  }

  .u-section-20 .u-text-8 {
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-20 .u-text-9 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-20 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-20 .u-layout-cell-4 {
    min-height: 540px;
  }

  .u-section-20 .u-text-11 {
    margin-left: 10px;
  }

  .u-section-20 .u-text-12 {
    margin-left: 24px;
    margin-right: 6px;
    width: 292px;
  }

  .u-section-20 .u-custom-html-3 {
    width: 292px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-20 .u-text-2 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-20 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-20 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-20 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-20 .u-text-7 {
    margin-left: 250px;
  }

  .u-section-20 .u-text-8 {
    margin-top: 177px;
  }

  .u-section-20 .u-text-9 {
    margin-top: -10px;
  }

  .u-section-20 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-20 .u-text-11 {
    margin-left: 0;
  }

  .u-section-20 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-20 .u-text-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-20 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-20 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-20 .u-text-7 {
    margin-left: 188px;
  }

  .u-section-20 .u-text-8 {
    margin-top: 90px;
  }

  .u-section-20 .u-text-9 {
    margin-top: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-20 .u-text-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-20 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-20 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-20 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-20 .u-text-7 {
    margin-left: 118px;
  }

  .u-section-20 .u-text-8 {
    margin-top: 141px;
  }

  .u-section-20 .u-text-9 {
    margin-top: 25px;
  }

  .u-section-20 .u-text-11 {
    font-size: 1.5rem;
  }
} .u-section-21 {
  background-image: none;
}

.u-section-21 .u-sheet-1 {
  min-height: 597px;
}

.u-section-21 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 33px auto 0;
}

.u-section-21 .u-accordion-1 {
  margin: 22px 0 0;
}

.u-section-21 .u-accordion-link-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-21 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-21 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-21 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-21 .u-accordion-link-2 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-21 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-21 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-21 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-21 .u-accordion-link-3 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-21 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-21 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-21 .u-container-layout-3 {
  padding: 20px 30px 24px;
}

.u-section-21 .u-accordion-link-4 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-21 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-21 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-21 .u-container-layout-4 {
  padding: 20px 30px 24px;
}

.u-section-21 .u-accordion-link-5 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-21 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-21 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-21 .u-container-layout-5 {
  padding: 20px;
}

.u-section-21 .u-custom-html-1 {
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-21 .u-custom-html-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-21 .u-custom-html-3 {
  margin: 0 0 33px;
}

@media (max-width: 1199px) {
  .u-section-21 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-21 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-22 {
  background-image: none;
}

.u-section-22 .u-sheet-1 {
  min-height: 658px;
}

.u-section-22 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-22 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-22 .u-container-layout-1 {
  padding: 30px 56px;
}

.u-section-22 .u-text-1 {
  margin: 83px 25px 0 8px;
}

.u-section-22 .u-text-2 {
  margin: 21px 8px 0;
}

.u-section-22 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-22 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-22 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-22 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-22 .u-custom-html-1 {
  height: auto;
  min-height: 508px;
  width: 556px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-22 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-22 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-22 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-22 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-22 .u-custom-html-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-22 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-22 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-22 .u-custom-html-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-22 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-22 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-22 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-22 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-23 .u-sheet-1 {
  min-height: 672px;
}

.u-section-23 .u-custom-html-1 {
  height: auto;
  min-height: 638px;
  margin: 30px 619px 0 18px;
}

.u-section-23 .u-custom-html-2 {
  height: auto;
  min-height: 638px;
  margin: -638px 18px 4px 587px;
}

@media (max-width: 1199px) {
  .u-section-23 .u-custom-html-1 {
    margin-right: 437px;
    margin-left: 0;
  }

  .u-section-23 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-custom-html-1 {
    margin-right: 217px;
  }

  .u-section-23 .u-custom-html-2 {
    margin-left: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-custom-html-1 {
    margin-right: 37px;
  }

  .u-section-23 .u-custom-html-2 {
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-23 .u-custom-html-2 {
    margin-left: 0;
  }
}.u-section-24 .u-sheet-1 {
  min-height: 662px;
}

.u-section-24 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-24 .u-custom-html-1 {
  height: auto;
  min-height: 558px;
  width: 1089px;
  margin: 12px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-24 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-custom-html-1 {
    width: 340px;
  }
}